@import './variables.css';
 /* Initial position of sidebar */
 .container{
    box-sizing: border-box; /* Ensure box sizing includes border and padding */
    position: absolute;
    top: var( --sidebar-top-position); /* Initially hides the sidebar above the viewport */
    right: var(--sidebar-right-position);
    /* Full width and height of viewport */
    width: var(--sidebar-width);
    height:  var(--sidebar-height);
    background-color: var(--sidebar-background-color); /* Semi-transparent black background */
    transition: top 1s ease;  /* Transition for smooth animation */
}

/* Reveals the sidebar by setting its top position to 0 */
.showNavBar{
    top: 0;
}

  